.vscode/*
*.ipynb_checkpoints
*.pytest_cache*
01-ActivityModel/data/*
*all-domestic-certificates.zip
*epc_england.zip
*msm_england.zip
02-EnergyModel/*.tar.gz
02-EnergyModel/01_Base_Distribution/*.tar.gz
02-EnergyModel/*.pptx
02-EnergyModel/*.png
*.DS_Store
02-EnergyModel/*.tar.gz
02-EnergyModel/*.tar
02-EnergyModel/*.Rhistory
